src/calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://main.aytos.es" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://main.aytos.es">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://main.aytos.es">
            <xs:element name="sumar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sumarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="restarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="multiplicacion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="multiplicacionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="division">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="divisionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="divisionRequest">
        <wsdl:part name="parameters" element="ns:division"/>
    </wsdl:message>
    <wsdl:message name="divisionResponse">
        <wsdl:part name="parameters" element="ns:divisionResponse"/>
    </wsdl:message>
    <wsdl:message name="multiplicacionRequest">
        <wsdl:part name="parameters" element="ns:multiplicacion"/>
    </wsdl:message>
    <wsdl:message name="multiplicacionResponse">
        <wsdl:part name="parameters" element="ns:multiplicacionResponse"/>
    </wsdl:message>
    <wsdl:message name="sumarRequest">
        <wsdl:part name="parameters" element="ns:sumar"/>
    </wsdl:message>
    <wsdl:message name="sumarResponse">
        <wsdl:part name="parameters" element="ns:sumarResponse"/>
    </wsdl:message>
    <wsdl:message name="restarRequest">
        <wsdl:part name="parameters" element="ns:restar"/>
    </wsdl:message>
    <wsdl:message name="restarResponse">
        <wsdl:part name="parameters" element="ns:restarResponse"/>
    </wsdl:message>
    <wsdl:portType name="CalculadoraPortType">
        <wsdl:operation name="division">
            <wsdl:input message="ns:divisionRequest" wsaw:Action="urn:division"/>
            <wsdl:output message="ns:divisionResponse" wsaw:Action="urn:divisionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="multiplicacion">
            <wsdl:input message="ns:multiplicacionRequest" wsaw:Action="urn:multiplicacion"/>
            <wsdl:output message="ns:multiplicacionResponse" wsaw:Action="urn:multiplicacionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sumar">
            <wsdl:input message="ns:sumarRequest" wsaw:Action="urn:sumar"/>
            <wsdl:output message="ns:sumarResponse" wsaw:Action="urn:sumarResponse"/>
        </wsdl:operation>
        <wsdl:operation name="restar">
            <wsdl:input message="ns:restarRequest" wsaw:Action="urn:restar"/>
            <wsdl:output message="ns:restarResponse" wsaw:Action="urn:restarResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculadoraSoap11Binding" type="ns:CalculadoraPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="division">
            <soap:operation soapAction="urn:division" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplicacion">
            <soap:operation soapAction="urn:multiplicacion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sumar">
            <soap:operation soapAction="urn:sumar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="restar">
            <soap:operation soapAction="urn:restar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculadoraSoap12Binding" type="ns:CalculadoraPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="division">
            <soap12:operation soapAction="urn:division" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplicacion">
            <soap12:operation soapAction="urn:multiplicacion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sumar">
            <soap12:operation soapAction="urn:sumar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="restar">
            <soap12:operation soapAction="urn:restar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculadoraHttpBinding" type="ns:CalculadoraPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="division">
            <http:operation location="Calculadora/division"/>
            <wsdl:input>
                <mime:content type="text/xml" part="division"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="division"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiplicacion">
            <http:operation location="Calculadora/multiplicacion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="multiplicacion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="multiplicacion"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sumar">
            <http:operation location="Calculadora/sumar"/>
            <wsdl:input>
                <mime:content type="text/xml" part="sumar"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="sumar"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="restar">
            <http:operation location="Calculadora/restar"/>
            <wsdl:input>
                <mime:content type="text/xml" part="restar"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="restar"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Calculadora">
        <wsdl:port name="CalculadoraHttpSoap11Endpoint" binding="ns:CalculadoraSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Calculadora"/>
        </wsdl:port>
        <wsdl:port name="CalculadoraHttpSoap12Endpoint" binding="ns:CalculadoraSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Calculadora"/>
        </wsdl:port>
        <wsdl:port name="CalculadoraHttpEndpoint" binding="ns:CalculadoraHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Calculadora"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
